{% extends "base.html" %}
{% load static %}
{% block title %}Ваш пароль был успешно изменен{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}
{% block nav %}
    {% include "includes/nav.html" %}
{% endblock %}
{% block content %}
{% include 'includes/nav.html' %}
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Ваш пароль был успешно изменен</p>
        <form action="{% url 'login' %}">
            <div class="custom-button-block">
                <button type="submit" class="button button_style_blue">Перейти на страницу входа</button>
            </div>
        </form>
    </div>
</main>
{% include 'includes/footer.html' %}
{% endblock %}