{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Ваш пароль был успешно изменен{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/nav.html' %}
<main class="main container">
    <div class="custom-center-block">
        <p class="custom-text-block"><h1 class="main__title">Ваш пароль был успешно изменен</h1></p>
        <p></p>
        <div class="custom-button-block">
            <form action="{% url 'index' %}">
                <button class="button button_style_blue">Перейти на главную страницу</button>
            </form>
        </div>
    </div>
</main>
{% include 'includes/footer.html' %}
{% endblock %}